{% extends 'main.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
    <div class="main__block__btn">
        <div class="cont__main__btn">
            <a href="create-report/Отчетность процента прохожденя.pdf" target="_blank"><button class="btn btn-outline-secondary btn__main" type="button">Отчетность процента прохождения</button></a>
            <a href="create-report/Сводная отчетность по группе пользователей.pdf" target="_blank"><button class="btn btn-outline-secondary btn__main" type="button">Сводная отчетность по группе пользователей</button></a>
            <a href="create-report/Топ тестов по среднему времени прохождения.pdf" target="_blank"><button class="btn btn-outline-secondary btn__main" type="button">Топ тестов по среднему времени прохождения</button></a>
            <a href="create-report/Отчетность для просмотра результатов прохождения тестов.pdf" target="_blank"><button class="btn btn-outline-secondary btn__main" type="button">Отчетность для просмотра результатов прохождения тестов</button></a>
            <a href="create-report/Отчетность-процента-прохожденя.pdf" target="_blank"><button class="btn btn-outline-secondary btn__main" type="button">Отчет по 5 последним тестам</button></a>
            <a href="create-report/Отчет по 5 последним тестам.pdf" target="_blank"><button class="btn btn-outline-secondary btn__main" type="button">Отчет по опросам</button></a>
            <a href="create-report/Отчет по использованию системы.pdf" target="_blank"><button class="btn btn-outline-secondary btn__main" type="button">Отчет по использованию системы</button></a>
        </div>
    </div>
{% endblock %}